/*.BorderPane{
    -fx-background-image: url("../afbeeldingen/koffer-london4.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size:cover;
    -fx-background-position: center center;
}
.login_btn{
    
}*/
.root{
    -fx-font-size: 11px;
}